@using SmartTouch.CRM.ApplicationServices.ViewModels

@model ForgotPasswordViewModel
@{Layout = null;
  
  
   }

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Welcome To SmartTouch</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    @*<!-- Loading Bootstrap -->
        <link href="../../Content/css/bootstrap.css" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="../../Content/css/flat-ui.css" rel="stylesheet">
        <!-- Loading SmartTouch -->
        <link href="../../Content/css/smarttouch.css" rel="stylesheet">
        <link href="../../Content/css/smarttouchicons.css" rel="stylesheet">*@

    @*@Styles.Render("~/Content/kendocss")
        @Styles.Render("~/Content/kendodatavizcss")*@
  
    @Styles.Render("~/Content/layoutstyles")

    <link rel="shortcut icon" href="../../img/favicon.ico">

    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

</head>

@using (Html.BeginForm("ForgotPassword", "Login", new { ReturnUrl = ViewBag.PageName }, FormMethod.Post, new { id = "forgotPasswordForm",role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="login-pane">
            <div class="login-panel">
                <section class="login-panel-left">
                    <div class="logo-bdx">
                        <figure><img src="~/img/bdx/bdx_logo.png" alt="BDX Lead Management" /></figure>
                        <span>Powered by <label>SmartTouch<sup>&reg;</sup></label></span>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <div class="controls">
                            <div class="alert alert-success text-left">@ViewBag.Message</div>
                        </div>
                        @*<a href="javascript:void(0)">@Html.ActionLink("Click here to Login", "Login")</a>*@
                        <div class="footer row">
                            @Html.ActionLink("Back to Login", "Login", null, new { @class = "pull-right forgot-password" })
                        </div>
                    }
                    else
                    {
                        <div id="logincontrols">
                            <div class="controls">
                                <!--<input type="text" class="form-control input-hg mbm" placeholder="Account"  />-->
                                @Html.ValidationSummary(true, "")
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control input-hg", @id = "accountname", @placeholder = "Account Name", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(m => m.AccountName)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-hg", @placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                @Html.HiddenFor(m => m.AccountId, new { @id = "accountid" })
                                @Html.HiddenFor(m => m.AccountName, new { @id = "accountname" })
                                @Html.HiddenFor(m => m.AccountPrimaryEmail, new { @id = "accountemail" })
                                <input type="button" id="submitform" value="Reset Password" class="btn btn-hg btn-primary" />
                            </div>
                            <div class="footer row">
                                @Html.ActionLink("Back to Login", "Login", null, new { @class = "pull-right forgot-password" })
                            </div>
                        </div>
                    }
                    <!--<div class="footer row">
                        <label class="checkbox pull-left mts" for="remember">
                          <input type="checkbox" value="" id="remember" data-toggle="checkbox">
                       </label>
                       <span class="mlm">Stay logged in</span>
                       <a href="javascript:void(0)" class="pull-right forgot-password" id="forgotpassword">Forgot Password ?</a>
                    </div>-->
                </section>
                <section class="login-panel-right">
                    <div class="bdxpromo">
                        <div class="footertext">
                            If you are having troubles with your login or any BDX Lead Management function, email us at: <a href="mailto:support@thebdx.com" class="email">support@thebdx.com</a>
                        </div>
                    </div>
                    <div class="installations box_panel">

                        <div class="boxes">
                            <a href="http://www.thebdx.com/uploadedcontents/Leads%20Followup%20Whitepaper-updated.pdf" target="_blank"><img src="~/img/bdx/bdx_tablet.png" /></a>
                            <a class="bottom-text" href="http://www.thebdx.com/uploadedcontents/Leads%20Followup%20Whitepaper-updated.pdf" target="_blank"><span>Whitepaper: Leads &amp; What to Do With Them</span></a>
                        </div>
                        <div class="boxes">
                            <a href="http://www.thebdx.com/uploadedcontents/Leads,%20Leads,%20Leads.png" target="_blank">
                                <img src="~/img/bdx/bdx_whitepaper.png" />
                            </a>
                            <a class="bottom-text" href="http://www.thebdx.com/uploadedcontents/Leads,%20Leads,%20Leads.png" target="_blank"><span>Infographic: The ABC's of Leads</span></a>
                        </div>
                        <div class="boxes">
                            <a href="http://www.thebdx.com/blog/nhs-pro-real-estate-agent-leads-how-are-you-following-up/" target="_blank">
                                <img src="~/img/bdx/bdx_lightbulb.png" />
                            </a>
                            <a class="bottom-text" href="http://www.thebdx.com/blog/nhs-pro-real-estate-agent-leads-how-are-you-following-up/" target="_blank"><span>Blog: How to Manage Real Estate Agent Leads </span></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="login-footer">Copyright &copy; 2016 smarttouchinteractive.com, inc. All rights reserved.</div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")     
    @Scripts.Render("~/bundles/kendoui")
    @Scripts.Render("~/bundles/kendouiaspnetmvc")
    @Scripts.Render("~/bundles/knockoutjs")     

    @Scripts.Render("~/bundles/layoutbottom")

    <!-- /.container -->
    <!-- Load JS here for greater good =============================-->
    @*<script src="../../Scripts/jquery-1.8.3.min.js"></script>
        <script src="../../Scripts/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="../../Scripts/jquery.ui.touch-punch.min.js"></script>
        <script src="../../Scripts/jquery.validate-vsdoc.js"></script>
        <script src="../../Scripts/jquery.validate.min.js"></script>
        <script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="../../Scripts/bootstrap.js"></script>
        <script src="../../Scripts/bootstrap-select.js"></script>
        <script src="../../Scripts/bootstrap-switch.js"></script>
        <script src="../../Scripts/flatui-checkbox.js"></script>
        <script src="../../Scripts/flatui-radio.js"></script>
        <script src="../../Scripts/jquery.tagsinput.js"></script>
        <script src="../../Scripts/jquery.placeholder.js"></script>
        <script src="../../Scripts/jquery.nicescroll.min.js"></script>
        <script src="../../Scripts/alertify/alertify.min.js"></script>
        <script src="../../Scripts/application.js"></script>*@

    <script>
        $('#forgotpassword').click(function () {
            $('#logincontrols').fadeOut('');
            $('#forgotcontrols').fadeIn('');
        });

        $('#backtologin, #forgotsubmit').click(function () {
            $('#logincontrols').fadeIn('');
            $('#forgotcontrols').fadeOut('');
        });
        var ContactsSuggestions;
        var WEBSERVICE_URL = '@HttpContext.Current.Application["webservice_url"]';

        var typewatch = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();




        $(document).ready(function () {
            @*var accountname = '@(accountName)', accountid = '@(accountID)';
            createCookie("accountName", accountname, 1); createCookie("accountID", accountid, 1);*@


            var txtTagId = "#accountname";
            var acc_name = document.getElementById("accountname");

            console.log("in forgot password bdx");
            console.log(acc_name);

            acc_name.value = "";

            $(txtTagId).kendoAutoComplete({
                minLength: 1,
                placeholder: "[|Account Name|]",
                height: 500,
                filter: "contains",
                serverFiltering: true,
                dataTextField: "AccountName",
                template: '<span>#: AccountName # ( #: DomainUrl # )</span>',
                select: autocomplete_select,

                open: function (e) {
                },
                close: function (e) {
                }
            });

            $(document).on('keydown keypress', txtTagId, function () {
                typewatch(function () {

                    $.ajax({
                        url: WEBSERVICE_URL + "/getbdxaccounts",
                        type: 'get',
                        dataType: 'json',
                        data: { 'accountName': $(txtTagId).val() },
                        contentType: "application/json; charset=utf-8",

                        success: function (contactsData) {

                            ContactsSuggestions = contactsData.BdxAccounts;
                            var autocomplete = $(txtTagId).data("kendoAutoComplete");
                            autocomplete.dataSource.data(ContactsSuggestions);
                            autocomplete.search("");
                        },
                        error: function (response) {
                            notifyError(response.responseText);
                        }
                    });
                }, 500);
            });

            function autocomplete_select(e) {
                var item = e.item;
                var dataItem = this.dataItem(e.item);
                var text = item.text();
                var accId = document.getElementById("accountid");
                accId.value = dataItem.AccountId;

                var accEmail = document.getElementById("accountemail");
                accEmail.value = dataItem.AccountEmail;

                console.log(text);
                createCookie("accountName", text, 1);
                createCookie("accountID", dataItem.AccountId, 1);
                createCookie("accountUrl", dataItem.DomainUrl, 1);
            }

            $(document).keypress(function (e) {
                if (e.which == 13) {
                    console.log("in enter click");
                    $('#submitform').click();
                }
            });

            $('#submitform').click(function (e) {
                var d = document.getElementById("accountname");
                var ss = $(ContactsSuggestions).filter(function () {

                    return this.AccountName.toString().toLowerCase() == d.value.toString().toLowerCase();
                })[0];

                if (ss == undefined)
                    d.value = "";

                console.log("in submit");
                console.log(ss);

                var form = $('#forgotPasswordForm');
              
           
                $(form).submit();
            });



            });
    </script>
}
@*</body>*@
@*</html>*@


