@using SmartTouch.CRM.ApplicationServices.ViewModels

@model RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
@*<html lang="en">*@
<head>
    <meta charset="utf-8">
    <title>Confirm Registration</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    @*@Styles.Render("~/Content/kendocss")
        @Styles.Render("~/Content/kendodatavizcss")*@

    @Styles.Render("~/Content/layoutstyles")

    <link rel="shortcut icon" href="../../img/favicon.ico">

    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

</head>
@using (Html.BeginForm("Register", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "registerForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="login-pane">
            <div class="login-panel">
                <section class="login-panel-left">
                    <div class="logo-bdx">
                        <figure><img src="~/img/bdx/bdx_logo.png" alt="BDX Lead Management" /></figure>
                        <span>Powered by <label>SmartTouch<sup>&reg;</sup></label></span>
                    </div>
                    <div id="logincontrols">
                        <div class="controls">
                            @Html.ValidationSummary(true, "")
                            <!--<input type="text" class="form-control input-hg mbm" placeholder="Account"  />-->
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-hg", @placeholder = "Password", @autofocus = "autofocus" })
                                <a href="#" data-title="Password should contain at least one digit, one lower-case letter, one upper-case letter, one special character and at least 6 characters long." class="login-tooltip"><i title="" class="fui-question"></i></a>
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-hg", @placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                            <div class="form-group">
                                <label class="checkbox pull-left" for="remember">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { data_toggle = "checkbox" })Stay Logged In
                                </label>
                                @Html.ValidationMessageFor(m => m.RememberMe)
                                @*<span class="mlm pull-left">Stay Logged In</span>*@
                            </div>
                            @Html.HiddenFor(m => m.Email)
                            @Html.HiddenFor(m => m.AccountId)
                            @Html.HiddenFor(m => m.AccountName)
                            @Html.HiddenFor(m => m.UserId)
                            <input type="button"  id="register" value="Register" class="btn btn-hg btn-primary" />
                        </div>
                        <div class="footer row">
                            &nbsp;
                            <!--<label class="checkbox pull-left mts" for="remember">
                                <input type="checkbox" value="" id="remember" data-toggle="checkbox">
                            </label>
                            <span class="mlm">Stay logged in</span>-->
                            @*<a href="javascript:void(0)" class="pull-right forgot-password" id="forgotpassword">@Html.ActionLink("Forgor Password?", "ForgotPassword")</a>*@
                        </div>
                    </div>
                    <!--<div class="footer row">
                        <label class="checkbox pull-left mts" for="remember">
                          <input type="checkbox" value="" id="remember" data-toggle="checkbox">
                       </label>
                       <span class="mlm">Stay logged in</span>
                       <a href="javascript:void(0)" class="pull-right forgot-password" id="forgotpassword">Forgot Password ?</a>
                    </div>-->
                </section>
                <section class="login-panel-right">
                    <div class="bdxpromo">

                        <div class="footertext">
                            If you are having troubles with your login or any BDX Lead Management function, email us at: <a href="mailto:support@thebdx.com" class="email">support@thebdx.com</a>

                        </div>
                    </div>
                    <div class="installations box_panel">
                        <div class="boxes">
                            <a href="http://www.thebdx.com/uploadedcontents/Leads%20Followup%20Whitepaper-updated.pdf" target="_blank"><img src="~/img/bdx/bdx_tablet.png" /></a>
                            <a class="bottom-text" href="http://www.thebdx.com/uploadedcontents/Leads%20Followup%20Whitepaper-updated.pdf" target="_blank"><span>Whitepaper: Leads &amp; What to Do With Them</span></a>
                        </div>
                        <div class="boxes">
                            <a href="http://www.thebdx.com/uploadedcontents/Leads,%20Leads,%20Leads.png" target="_blank">
                                <img src="~/img/bdx/bdx_whitepaper.png" />
                            </a>
                            <a class="bottom-text" href="http://www.thebdx.com/uploadedcontents/Leads,%20Leads,%20Leads.png" target="_blank"><span>Infographic: The ABC's of Leads</span></a>
                        </div>
                        <div class="boxes">
                            <a href="http://www.thebdx.com/blog/nhs-pro-real-estate-agent-leads-how-are-you-following-up/" target="_blank">
                                <img src="~/img/bdx/bdx_lightbulb.png" />
                            </a>
                            <a class="bottom-text" href="http://www.thebdx.com/blog/nhs-pro-real-estate-agent-leads-how-are-you-following-up/" target="_blank"><span>Blog: How to Manage Real Estate Agent Leads </span></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="login-footer">Copyright &copy; 2016 smarttouchinteractive.com, inc. All rights reserved.</div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")     
    @Scripts.Render("~/bundles/kendoui")
    @Scripts.Render("~/bundles/kendouiaspnetmvc")
    @Scripts.Render("~/bundles/knockoutjs")     

    @Scripts.Render("~/bundles/layoutbottom")

    <!-- /.container -->
    <!-- Load JS here for greater good =============================-->
    @*<script src="../../Scripts/jquery-1.8.3.min.js"></script>
        <script src="../../Scripts/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="../../Scripts/jquery.ui.touch-punch.min.js"></script>
        <script src="../../Scripts/jquery.validate-vsdoc.js"></script>
        <script src="../../Scripts/jquery.validate.min.js"></script>
        <script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="../../Scripts/bootstrap.js"></script>
        <script src="../../Scripts/bootstrap-select.js"></script>
        <script src="../../Scripts/bootstrap-switch.js"></script>
        <script src="../../Scripts/flatui-checkbox.js"></script>
        <script src="../../Scripts/flatui-radio.js"></script>
        <script src="../../Scripts/jquery.tagsinput.js"></script>
        <script src="../../Scripts/jquery.placeholder.js"></script>
        <script src="../../Scripts/jquery.nicescroll.min.js"></script>
        <script src="../../Scripts/alertify/alertify.min.js"></script>
        <script src="../../Scripts/application.js"></script>*@

    <script>
        $('#forgotpassword').click(function () {
            $('#logincontrols').fadeOut('');
            $('#forgotcontrols').fadeIn('');
        });

        $('#backtologin, #forgotsubmit').click(function () {
            $('#logincontrols').fadeIn('');
            $('#forgotcontrols').fadeOut('');
        });

        

        $(document).keypress(function (e) {
            if (e.which == 13) {               
                $('#register').click();
            }
        });

        $('#register').click(function (e) {
           
            console.log("in register click");
            console.log(readCookie('accountUrl'));

            var form = $('#registerForm');
            $(form).attr('action', 'https://' + readCookie('accountUrl') + '/register');
            $(form).submit();
        });



    </script>
}
@*</body>*@
@*</html>*@



