@using SmartTouch.CRM.ApplicationServices.ViewModels

@model ResetPasswordViewModel
@{Layout = null;}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Welcome To SmartTouch</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    @*@Styles.Render("~/Content/kendocss")
        @Styles.Render("~/Content/kendodatavizcss")*@
    @Styles.Render("~/Content/layoutstyles")

    <link rel="shortcut icon" href="../../img/favicon.ico">


    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

</head>

@using (Html.BeginForm("ResetPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="login-pane">
            <div class="login-panel">
                <section class="login-panel-left">
                    <div class="logo">
                        <figure><img src="../../img/login/logo.png" alt="Smarttouch" /></figure>
                    </div>

                    <div id="logincontrols">
                        <div class="controls">
                            <!--<input type="text" class="form-control input-hg mbm" placeholder="Account"  />-->
                            @Html.ValidationSummary(true, "")
                            @Html.HiddenFor(model => model.Code)
                            @Html.HiddenFor(m => m.Email)
                            @Html.HiddenFor(m => m.AccountId)
                            @Html.HiddenFor(m => m.AccountName)
                            <div class="form-group">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-hg", @placeholder = "New Password", @autofocus = "autofocus" })
                                <a href="#" data-title="Password should contain at least one digit, one lower-case letter, one upper-case letter, one special character and at least 6 characters long." class="login-tooltip"><i title="" class="fui-question"></i></a>
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-hg", @placeholder = "Confirm Password" })

                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>

                            @*<div class="form-group">
                                    <label class="checkbox pull-left" for="remember">
                                        <input type="checkbox" value="" id="Password" data-toggle="checkbox" data-bind="checked:RememberMe">
                                    </label>
                                    <span class="mlm pull-left">Stay Logged In</span>
                                </div>*@
                            @*<a href="#" class="btn btn-hg btn-primary"  data-bind="click:Login"> Log in to SmartTouch </a>*@
                            @*<input type="submit" value="Reset Password" class="btn btn-hg btn-primary" />*@
                            <input type="submit" value="Save Password & Sign In" class="btn btn-hg btn-primary" />

                        </div>
                        <div class="footer row">
                            &nbsp;
                        </div>
                    </div>
                    
                    <!--<div class="footer row">
                        <label class="checkbox pull-left mts" for="remember">
                          <input type="checkbox" value="" id="remember" data-toggle="checkbox">
                       </label>
                       <span class="mlm">Stay logged in</span>
                       <a href="javascript:void(0)" class="pull-right forgot-password" id="forgotpassword">Forgot Password ?</a>
                    </div>-->
                </section>
                @{
                    Html.RenderPartial("~/Views/Login/_LoginFooterView.cshtml");
                }
            </div>
            <div class="login-footer">Copyright &copy; 2016 smarttouchinteractive.com, inc. All rights reserved.</div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")     
    @Scripts.Render("~/bundles/kendoui")
    @Scripts.Render("~/bundles/kendouiaspnetmvc")
    @Scripts.Render("~/bundles/knockoutjs")     

    @Scripts.Render("~/bundles/layoutbottom")

    <!-- /.container -->
    <!-- Load JS here for greater good =============================-->
    @*<script src="../../Scripts/jquery-1.8.3.min.js"></script>
        <script src="../../Scripts/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="../../Scripts/jquery.ui.touch-punch.min.js"></script>
        <script src="../../Scripts/jquery.validate-vsdoc.js"></script>
        <script src="../../Scripts/jquery.validate.min.js"></script>
        <script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="../../Scripts/bootstrap.js"></script>
        <script src="../../Scripts/bootstrap-select.js"></script>
        <script src="../../Scripts/bootstrap-switch.js"></script>
        <script src="../../Scripts/flatui-checkbox.js"></script>
        <script src="../../Scripts/flatui-radio.js"></script>
        <script src="../../Scripts/jquery.tagsinput.js"></script>
        <script src="../../Scripts/jquery.placeholder.js"></script>
        <script src="../../Scripts/jquery.nicescroll.min.js"></script>
        <script src="../../Scripts/alertify/alertify.min.js"></script>
        <script src="../../Scripts/application.js"></script>*@

    <script>
        $('#forgotpassword').click(function () {
            $('#logincontrols').fadeOut('');
            $('#forgotcontrols').fadeIn('');
        });

        $('#backtologin, #forgotsubmit').click(function () {
            $('#logincontrols').fadeIn('');
            $('#forgotcontrols').fadeOut('');
        });

        $(document).ready(function () {
            @*var accountname = '@(accountName)', accountid = '@(accountID)';
            createCookie("accountName", accountname, 1); createCookie("accountID", accountid, 1);*@
        });
    </script>
}
@*</body>*@
@*</html>*@
